*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  font-size: 120%;
}

img {
  max-height: 100%;
  max-width: 100%;
}

a,
button,
input,
li {
  all: unset;
}

button {
  cursor: pointer;
}

main {
  display: grid;
  min-height: calc(100vh - var(--NAVBAR-HEIGHT));
}
